<h3 class="my-4">Technologies</h3>

<div class="row">

  <div class="col-md-3 col-sm-6 mb-4 tech">
    <a href="#"><%= image_tag "react_icon.png", class: 'img-fluid', id: 'react', alt: 'React' %></a>
  </div>

  <div class="col-md-3 col-sm-6 mb-4 tech">
    <a href="#"><%= image_tag "ruby_icon.png", class: 'img-fluid', id: 'ruby', alt: 'Ruby' %></a>
  </div>

  <div class="col-md-3 col-sm-6 mb-4 tech">
    <a href="#"><%= image_tag "python_icon.png", class: 'img-fluid', id: 'python', alt: 'Python' %></a>
  </div>

  <div class="col-md-3 col-sm-6 mb-4 tech">
    <a href="#"><%= image_tag "node_icon.png", class: 'img-fluid tech', id: 'node', alt: 'Node.js' %></a>
  </div>

  <div class="col-md-3 col-sm-6 mb-4 tech">
    <a href="#"><%= image_tag "ethereum_icon.png", class: 'img-fluid tech', id: 'ethereum', alt: 'Ethereum' %></a>
  </div>

  <div class="col-md-3 col-sm-6 mb-4 tech">
    <a href="#"><%= image_tag "rails_icon.png", class: 'img-fluid tech', id: 'rails', alt: 'Rails' %></a>
  </div>

  <div class="col-md-3 col-sm-6 mb-4 tech">
    <a href="#"><%= image_tag "sass_icon.png", class: 'img-fluid tech', id: 'sass', alt: 'Sass' %></a>
  </div>
</div>
<!-- /.row -->